@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    font-family: 'DM Sans';
}

body {
    background-color: #F7F7FA;
}

/* Enter Username Modal */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(15,32,39);
    background: linear-gradient(90deg, rgba(15,32,39,1) 0%, rgba(32,58,67,1) 43%, rgba(44,83,100,1) 100%);
}
  
.modal-content {
    background-color: #fff;
    width: 300px;
    margin: auto;
    padding: 5px 50px 20px 50px;
    margin-top: 13%;
    border-radius: 5px;
}

.modal-content h2 {
    text-align: center;
    margin: auto;
    padding-top: 25px;
}

.modal-content p {
    text-align: center;
    padding: auto;
    margin: auto;
    padding-top: 4px;
    padding-bottom: 20px;
}
  
input {
    margin-bottom: 7px;
    border: 1px solid #E1E0E6;
    border-radius: 3px;
    height: 25px;
    padding-left: 5px;
}

input:focus {
    border: 1px solid #E1E0E6;
    outline: none;
}

button {
    background-color: #2B5161;
    outline: none;
    cursor: pointer;
    border: 1px solid #2B5161;
    height: 35px;
    border-radius: 3px;
    color: white;
    font-weight: 400;

}

.dashboard {
    display: none;
}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

  /* Dashboard Main */

body {
    margin: auto;
    width: 90%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: auto;
    padding-top: 1%;
}

.userInfo {
    display: flex;
    align-items: center;
}

.userInfo p {
    margin: auto;
    margin-left: 25px;
    font-size: 15px;
    top: 1px;
    padding-top: 5px;
    text-decoration-line: underline;
    color: #3F62A6;
}

.userInfo p:hover {
    cursor: pointer;
    color: #6B8AC7;
}

.buttonDetails, .OverallButtonDetails {

    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 10px;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 13px;
}

/* enabled buttons - dahsboard not empty */

.button1 {
    border-style: solid;
    border-width: 2px;
    background-color: #F7F7FA;
    border-color: #3F62A6;
    font-weight: 600;
    color: #3F62A6;
}

.button1:hover{
    background-color: #D2E0FB;
    font-weight: 600;
    color: #3F62A6;
    border-color: #D2E0FB;
}

.button2 {
    border-style: solid;
    border-width: 2px;
    background-color: #F7F7FA;
    border-color: #8F2424;
    font-weight: 600;
    color: #8F2424;
}

.button2:hover{
    background-color: #FF8080;
    font-weight: 600;
    color: #8F2424;
    border-color: #FF8080;
}

.button3 {
    border-style: solid;
    border-width: 2px;
    background-color: #F7F7FA;
    border-color: #407D36;
    font-weight: 600;
    color: #407D36;
}

.button3:hover {
    background-color: #A5DD9B;
    font-weight: 600;
    color: #407D36;
    border-color: #A5DD9B;
}


.button4 {
    border-style: solid;
    border-width: 2px;
    background-color: #F7F7FA;
    border-color: #dc7554;
    font-weight: 600;
    color: #dc7554;
}

.button4:hover {
    background-color: #F8DFD7;
    font-weight: 600;
    color: #DC7554;
    border-color: #F8DFD7;
}
.buttons:hover {
    cursor: pointer;
}

.buttons {
    display: flex;
}

.buttons img {
    width: 17px;
    padding-left: 20px;
}

/* disabled button - dashboard empty */

.button1.disabled-btn {
    border-color: #9FACC6;
    color: #9FACC6;
}

.button2.disabled-btn {
    border-color: #C69F9F;
    color: #C69F9F;
}

/* .button3.disabled-btn {
    border-color: #8EA88A;
    color: #8EA88A;
}

.disabled-btn:hover {
    cursor: not-allowed;
    background-color: unset;
} */

.disabled-btn img {
    opacity: 0.4;
}

 
/* .buttons img {
    opacity: 0.3;
} */

/* Dashboard Grid Total Expense */

.grid-container {
    display: grid;
    grid-template-columns: 45% 27% 27%;
    justify-content: space-between;
}
  
.grid-item {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding-bottom: 80px;
    font-size: 30px;
    text-align: left;
    border-radius: 5px;
    border-style: none;
    padding-left: 25px;
    padding-top: 20px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
}

.grid-itemTitle {
    font-size: 15px;
    padding-bottom: 15px;
}

.grid-itemCost {
    font-weight: 800;
}

/* Dashboard Grid Transaction */

.transactionHead {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: left;
    border-radius: 5px;
    border-style: none;
    padding-left: 25px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    padding-right: 25px;
    margin-top: 30px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

.transactionHeadTitle {
    font-size: 20px;
    font-weight: 800;
    padding-top: 30px;
}

.transactionHead__nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

/* select button */

.selectButtonDetails {
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 50px;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 13px;
}

.selectButton {
    border-style: solid;
    border-width: 2px;
    background-color: #F7F7FA;
    border-color: #8EACCD;
    font-weight: 600;
    color: #3F62A6;
    margin-top: 20px;
    background: url(assets/arrow-down.svg) no-repeat 95px;
    background-size: 13px;
    appearance:none;
}

.selectButton:hover {
    background-color: #D2E0FB;
    font-weight: 600;
    color: #3F62A6;
    border-color: #D2E0FB;
    cursor: pointer;
}

option {
    border-style: solid;
    border-width: 2px;
    background-color: #D2E0FB   ;
    font-weight: 600;
    color: #3F62A6;
    margin-top: 20px;
}

/* table */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%
}
  
td, th {
    border-top: 1px solid #C8C7CD;
    text-align: left;
    padding: 20px;
}

th {
    border-top: 2px solid #C8C7CD;
    border-bottom: 2px solid #C8C7CD;
    font-size: 15px;
}

td {
    padding-top: 45px;
}

/* Add Expense Modal */

.AddExpenseModal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(13, 13, 13, 0.6);
    backdrop-filter: blur(5px);
    z-index: 1000; /* Ensure the modal is on top */
}


.AddExpenseModalContent {
    background-color: #fff;
    width: 300px;
    padding: 5px 50px 20px 50px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expense {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.AddExpenseModalContent h2 {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 25px;
    font-size: 18px;
}

.expense input {
    margin-bottom: 7px;
    border: 1px solid #E1E0E6;
    border-radius: 3px;
    height: 25px;
    padding-left: 5px;
    width: 100%;
}

.expense input:focus {
    border: 1px solid #E1E0E6;
    outline: none;
}

.expenseInfo button {
    background-color: #2B5161;
    outline: none;
    cursor: pointer;
    border: 1px solid #2B5161;
    height: 35px;
    border-radius: 3px;
    color: white;
    font-weight: 400;
    margin-top: 10px;
    width: 100%;
}

.expenseInfo {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    width: 100%;
}

.expense::placeholder {
    font-style: italic;
    color: #D6D6DB;
    font-size: 12px;
}

.expenseTitle input:focus::placeholder,
.expenseCost input:focus::placeholder {
    color: transparent;
}

.expense .income p {
    margin: auto;
    font-size: 13px;
    font-weight: 700;
}

.expenseInfo .enter {
    background-color: #407D36;
    border: none;
}

.expenseInfo .enter:hover {
    background-color: #A5DD9B;
}

.expenseInfo .cancel {
    background-color: #8F2424;
    border: none;
}

.expenseInfo .cancel:hover {
    background-color: #FF8080;
}


.text-warning {
    color: #FF8080;
}

/* Add Income Modal */

.AddIncomeModal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(13, 13, 13, 0.6);
    backdrop-filter: blur(5px);
    z-index: 1000;
}

.AddIncomeModalContent {
    background-color: #fff;
    width: 300px;
    padding: 0px 25px 20px 25px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.income {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.AddIncomeModalContent h2 {
    text-align: center;
    margin-bottom: 10px;
    padding-top: 10px;
    font-size: 18px;
}

.incomeCost p {
    margin: 0;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 500;
    font-style: italic;
}

.incomeCost input {
    margin-bottom: 14px;
    border: 1px solid rgb(225, 224, 230);
    border-radius: 3px;
    height: 25px;
    padding-left: 5px;
    width: 280px;
}

.incomeInfo {
    margin-top: 8px;
    width: 100%;
    margin: auto;
    display: block;
}


.income::placeholder {
    font-style: italic;
    color: #D6D6DB;
    font-size: 12px;
}

.incomeTitle input:focus::placeholder,
.incomeCost input:focus::placeholder {
    color: transparent;
}

.incomeBtn {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.incomeBtn .enter {
    background-color: #407D36;
    border: none;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 7px;
}

.incomeBtn .enter:hover {
    background-color: #A5DD9B;
}

.incomeBtn .cancel {
    background-color: #8F2424;
    border: none;
    padding-left: 100px;
    padding-right: 100px;
}

.incomeBtn .cancel:hover {
    background-color: #FF8080;
}